
.to-do-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, sans-serif;
    text-align: left;
    margin-top: 100px;
}
h1{margin-left: 50px;
    font-size: 40px;
    color: white;
}
button{
    font-size: 1 rem;
    font-weight: bold;
    padding: 10px 20px;
  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-button{  padding: 10px 20px; margin-left: 20px; font-size: 1.6rem; font-weight: bold; 
    background-color: hsl(120, 2%, 55%);
}
.add-button:hover{background-color:rgb(158, 203, 255);
    color: hsl(120, 6%, 7%);
}
.delete-button{
    background-color: hsl(10, 90%, 50%);
}
.delete-button:hover{
    background-color: hsl(10, 90%, 40%);
}
.move-button{
    background-color: hsl(207, 90%, 64%);
}
.move-button:hover{
    background-color: hsl(207, 90%, 54%);
}

.edit-button:hover{
    background-color: hsl(50, 64%, 72%);
}
.save-button{margin-left: 20px; }
.save-button:hover{
    background-color: hsl(151, 64%, 72%);
}


.cancel-button:hover{
    background-color: hsl(0, 64%, 72%);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    border: 2px solid hsla(155, 82%, 35%, 0.5);
    background-color: hsl(155, 82%, 35%);
}



ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    border-bottom: 3px solid hsla(0, 4%, 5%, 0.75);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}